@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Merriweather&family=Oswald:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin:0 auto;
    padding: 0;
    border: none;
    max-width: 1600px;
}

body {
    font-family:'Lato', sans-serif;
    font-weight: 400;
    color:#333333;
}

/* headings and main title */

h1, h2, h3 {
    font-family:'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1a1a1a;
}

.maintitle {
    float: left;
    font-size: 200%;
    margin-left: 20px;
    height: 65px;
}

/* navigation bar */

.nav {
    height: 65px;

}

#navbar {
    font-size: 130%;
    letter-spacing: 3px;
}

#maintitle #navbar {
    height: 85px;
    position: relative;
}

#navbar li{
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

/*main image */

#topbar {
    height: 400px;
    width: 1400px;
    background: url('../images/main-photo.jpg') no-repeat center center;
    background-size: cover; 
}

/* brief history in container with scroll bar */

.header {
    background-color: cadetblue;
    padding: 0px 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
     }
    
     .briefhistory {
         height: 300px;
         width: 1400px;
         border: 1px solid black;
         margin-top: 10px;
         overflow-y: scroll;
         scroll-behavior: smooth;
     }


 /* sign up section */


 .sign-up {
    height: 400px;
    width: 1400px;
    border: 1px solid black;
    margin-top: 10px;
    background:url('../images/sigh-up-image.jpg') no-repeat center center;
    background-size: cover;
}

.signup-blank {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 200px;
    float: left;
    margin-left: 20px;
    padding: 30px;
    margin-top: 20px;
}

    .text-form {
        background: transparent;
        color: #fafafa;
        width: 100%;
        height: 25px;
        margin: 5px 0 20px 0;
        border: 1px solid #fafafa;
        border-radius: 2px;
    }

    .signup-title {
    color: #fafafa;
    text-transform: uppercase;
    margin-bottom: 5px;
    }

    .subscribe {
        border-radius: 2px;
        text-align: center;
        background-color: orangered;
        font-size: 100%;
        display: block;
    }

    .subscribe:hover {
    background-color: #fafafa;
    color: #f16c6b;
    }


    /*about us section */

.about-us {
    height: 200px;
    width: 1400px;
    border: 1px solid black;
    margin-top: 10px;
    background-color: maroon;
}

   .aboutus-title {
       font-size: 200%;
       text-align: center;
       color: mintcream;
   }

   .contact-us{
       color: mintcream;
       text-align: left;
       margin-left: 40px;
   }

   .contact-us h3 {
       color: mintcream;
   }

.carmarthen {
    height: 150px;
    width: 150px;
    background: url('../images/carmarthen\ camera\ centre.jpg') no-repeat center center;
    background-size: cover;
    float: right;
    margin-right:75px;
}


/*   footer section */

.foot {
    height: 50px;
    width: 1400px;
    border: 1px solid black;
    margin-top: 10px;
    background-color: maroon;
    text-align: center;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 160%;
    margin: 1%;
    padding: 3%;
    color: #3a3a3a;
}