@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Merriweather&family=Oswald:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin:0 auto;
    padding: 0;
    border: none;
    max-width: 1600px;
}

body {
    font-family:'Lato', sans-serif;
    font-weight: 400;
    color:#333333;
}

/* headings and main title */

h1, h2, h3 {
    font-family:'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1a1a1a;
}

.maintitle {
    float: left;
    font-size: 200%;
    margin-left: 20px;
    height: 65px;
}

 /* sign up section */


 .sign-up {
    height: 400px;
    width: 1400px;
    border: 1px solid black;
    margin-top: 10px;
    background:url('../images/sigh-up-image.jpg') no-repeat center center;
    background-size: cover;
}

.signup-blank {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 200px;
    float: left;
    margin-left: 20px;
    padding: 30px;
    margin-top: 20px;
}

    .text-form {
        background: transparent;
        color: #fafafa;
        width: 100%;
        height: 25px;
        margin: 5px 0 20px 0;
        border: 1px solid #fafafa;
        border-radius: 2px;
    }

    .signup-title {
    color: #fafafa;
    text-transform: uppercase;
    margin-bottom: 5px;
    }

    .subscribe {
        border-radius: 2px;
        text-align: center;
        background-color: orangered;
        font-size: 100%;
        display: block;
    }

    .subscribe:hover {
    background-color: #fafafa;
    color: #f16c6b;
    }


/*   footer section */

.foot {
    height: 50px;
    width: 1400px;
    border: 1px solid black;
    margin-top: 10px;
    background-color: maroon;
    text-align: center;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 160%;
    margin: 1%;
    padding: 3%;
    color: #3a3a3a;
}